@use '@carbon/react' with (
  $prefix: 'bx',
  $use-flexbox-grid: true,
  $font-path: '@ibm/plex'
);

body {
    background-color: #bbfad5;
}

.bg1 {
    background-color: #daceaf;
}

.bg2 {
    background-color: #cfdaaf;
}